<footer class="grid grid-cols-1 mt-4 md:grid-cols-3 md:items-end">
    <h5 class="justify-self-start sm:justify-self-end">
        Insured by <a class="text-indigo-200" href="https://www.dogtrainerinsurance.com/blog">Business Insurers of the Carolinas</a>
    </h5>
    {% include "components/contact.html" %}
    <small class="justify-self-end sm:justify-self-start">
        &copysr; 2020 - For the Puppies Training Academy
    </small>
</footer>