<footer>
    <h5>
        &copysr; 2020 - For the Puppies Training Academy
    </h5>
    {% include "components/contact.html" %}
    <h5 class="insure">
        Insured by <a href="https://www.dogtrainerinsurance.com/blog">Business Insurers of the Carolinas</a>
    </h5>
</footer>