<footer title="Site Footer">
    <h5>
        &copysr; 2020 - For the Puppies Training Academy
    </h5>
    <h5 class="insure">
        Insured by <a href="http://www.equisure-inc.com/">Equisure Inc</a>
    </h5>
</footer>