<header class="grid grid-cols-1 px-14 justify-items-center mt-2 md:grid-cols-2 text-gray-200">
    <figure class="justify-self-center md:justify-self-start">
        <a href="/">
            <img class="aspect-square" src="https://res.cloudinary.com/ftpta-com/image/upload/f_auto,q_auto,w_236,h_236/v1660581474/logos/FTPTA_LOGO_t8axqn.webp" alt="site logo" height="236px" width="236px">
        </a>
    </figure>
    <ul class="my-2 justify-self-center sm:justify-self-end stone-100">
        <li class="text-2xl px-6 md:inline md:py-2"><a href="/">Home</a></li>
        <li class="text-2xl px-6 md:inline md:py-2"><a href="/services/">Services</a></li>
        <li class="text-2xl px-6 md:inline md:py-2"><a href="/about/">About Us</a></li>
        <li class="text-2xl pl-6 md:inline md:py-2"><a href="/services/service-dogs/">Service Dogs</a></li>
    </ul>
</header>