<header>
    <figure class="logo">
        <a href="/">
            <img src="/imgs/ftpta_400_fliped.jpg" alt="site logo" height="auto" width="157px">
        </a>
    </figure>
    <nav class="site_nav">
        <a href="/services">Services</a>
        <a href="#">Portfolio</a>
        <a href="/about">About Us</a>
        <a href="/soon">My Story</a>
    </nav>
</header>