<header>
    <figure class="logo">
        <a href="/">
            <img src="https://res.cloudinary.com/ftpta-com/image/upload/v1583283436/logos/ftpta_400_fliped_mhghhy.jpg" alt="site logo" height="auto" width="157px">
        </a>
    </figure>
    <nav class="site_nav">
        <a href="/services">Services</a>
        <a href="/soon">Portfolio</a>
        <a href="/about">About Us</a>
        <a href="/my-story">My Story</a>
    </nav>
</header>