<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="For The Puppies Training Academy is an AKC registered in-home board and train facility that specializes in training canines less than a year old.">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet" as="font">
    <title>{{ title }}</title>
</head>
<body class="container mx-auto bg-black text-gray-200">
    {% include "header.njk" %}
    
    <main>
        {% include "components/content_header.html" %}
        {{ content | safe }}
        {% block postContent %}{% endblock %}
        {% block portfolioContent %}{% endblock %}
        {% include "components/akc_logos.html" %}
    </main>
    
    {% include "footer.njk" %}
</body>
</html>