<h2>Policies</h2>
<article class="text-sm">
    {% include 'components/policies/no_show.html' %}

    {% include 'components/policies/refund_policy.html' %}
    
    {% include 'components/policies/compliance_policy.html' %}
</article>

