{% extends "layout.njk" %}
    {% block postContent %}
    {% if page.url == "/services/group-training/" %}
        {% include "components/group-form.html" %}
    {% endif %}
    {% if page.url == "/services/board-training/" %}
        {% include "components/boarding-form.html" %}
    {% endif %}
{% endblock %}