{% extends "layout.njk" %}
{% block postContent %}
{% include "components/refund_policy.md" %}
<div class="max-w-full">
    <div class="grid grid-cols-1 gap-6">
    {% include "components/class_form.html" %}
    </div>
</div>
{% endblock %}