<div class="akc_logos">
    <figure>
        <img src="https://res.cloudinary.com/ftpta-com/image/upload/f_auto,q_70,w_300/v1592436484/logos/AKC/StarPuppy_logo_xzp7pj.jpg" alt="AKC S.T.A.R. Puppy">
        <figcaption>AKC S.T.A.R. Puppy</figcaption>
    </figure>
    <figure>
        <img src="https://res.cloudinary.com/ftpta-com/image/upload/f_auto,q_70,w_300/v1592436476/logos/AKC/CGC-logo_ctdw58.png" alt="AKC Canine Good Citizen">
        <figcaption>AKC Canine Good Citizen</figcaption>
    </figure>
</div>