<header
    class="grid grid-cols-1 uppercase tracking-wide text-center text-2xl sm:text-4xl sm:grid-cols-2 font-bold py-4 text-gray-200">
    <div>
        <h1>{{ page_title }}</h1>
        <h2 class="text-sm mt-4 font-light tracking-wide sm:py-2">Full Service Dog Training Center offering Day
            Training,
            Day Care,
            Boarding and Grooming
        </h2>
    </div>
    <div class="justify-self-center sm:justify-self-end">
        <a href="https://prf.hn/click/camref:1100luJHY/creativeref:1011l77884" rel="sponsored" class="">
            <img src="https://creative.prf.hn/source/camref:1100luJHY/creativeref:1011l77884" width="300" height="250"
                border="0" />
        </a>
    </div>
</header>