<header class="grid grid-cols-1 px-14 sm:grid-cols-2">
    <div class="uppercase text-center tracking-wide text-2xl sm:text-4xl font-bold py-4 text-gray-200">
        <h1>{{ page_title }}</h1>
        <h2 class="text-sm mt-4 font-light tracking-wide sm:py-2">Full Service Dog Training Center offering Day
            Training,
            Day Care,
            Boarding and Grooming
        </h2>
    </div>
    <div class="justify-self-center pb-4 sm:justify-self-end">
        <a href="https://comforting-yeot-9e4b73.netlify.app/" rel="sponsored" class="">
            <img src="imgs/ftpf_large.jpg" height="250px" alt="For The Puppies Foundation Link" />
        </a>
    </div>
</header>