<form name="group-training" method="post" class="group-form" netlify>
  <div class="form-group">
    <label for="owner_name">Owners Name:</label>
    <input type="text" required name="owner_name" />
  </div>
  <div class="form-group">
    <label for="owner_email">Owners Email:</label>
    <input type="email" required name="owner_email" />
  </div>
  <div class="form-group">
    <label for="canine_name">Canines Name:</label>
    <input type="text" required name="canine_name" />
  </div>
  <div class="form-group">
    <label for="canine_name">Canines Breed:</label>
    <input type="text" required name="canine_breed" />
  </div>
  <input type="submit" value="Sign Up" />
</form>
