<form name="group-training" method="post" class="mt-8 px-4 text-gray-300" netlify>
  <label class="block lg:text-lg" for="owner_name">
    <span class="">Owners Name:</span>
    <input type="text" class="block mt-1 w-full rounded-md" required name="owner_name" />
  </label>
  <label for="owner_address" class="block mt-8 lg:text-lg">
    <span class="">Owners Address:</span>
    <input type="text" class="block mt-1 w-full rounded-md" required name="owner_address" />
  </label>
  <label class="block mt-8 lg:text-lg" for="owner_email">
    <span>Owners Email:</span>
    <input class="block mt-1 w-full rounded-md" type="email" required name="owner_email" />
  </label>
  <label class="block mt-8 lg:text-lg" for="owner_phone">Owners Phone:
    <input class="block mt-1 w-full rounded-md" type="tel" required name="owner_phone" />
  </label>
  <small>Format 662-555-5555</small>
  <label class="block mt-8 lg:text-lg" for="canine_name">Canines Name:
    <input class="block mt-1 w-full rounded-md" type="text" required name="canine_name" />
  </label>
  <label class="block mt-8 lg:text-lg" for="canine_breed">Canines Breed:
    <input class="block mt-1 w-full rounded-md" type="text" required name="canine_breed" />
  </label>
  <label class="block mt-8 lg:text-lg" for="canine_age">Canines Age:
    <span class="label_title">Months</span>
    <select type="number" required name="canine_age_months" value="0" class="text-gray-700 px-6 mt-1 ml-1 rounded-md">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
    </select>
    <span class="ml-4 lg:text-lg">Years</span>
    <select type="number" required name="canine_age_years" value="0" class="text-gray-700 px-6 mt-1 ml-1 rounded-md">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5+</option>
    </select>
  </label>
  <label for="issues" class="block mt-8 lg:text-lg">Issues:
    <textarea name="issues" id="issues" rows="10" class="w-full rounded-md"
      placeholder="What are your goals for training??"></textarea>
  </label>
  <label class="block mt-8 lg:text-lg" for="promo_code">Promo Code:
    <input class="block mt-1 w-full rounded-md lg:text-lg" type="text" name="promo_code" id="promo_code" value="" />
  </label>
  <input type="submit" value="Submit" class="text-gray-900 py-1 px-2 mt-4 rounded-md" />
</form>