<!-- HTML Meta Tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<meta name="description" content="{{ page_description }}">
<meta name="generator" content="{{ eleventy.generator }}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.forthepuppiestrainingacademy.com{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ page_description }}">
<meta property="og:image" content="https://res.cloudinary.com/ftpta-com/image/upload/f_auto,q_auto/v1660581474/logos/FTPTA_LOGO_t8axqn.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="forthepuppiestrainingacademy.com">
<meta property="twitter:url" content="https://www.forthepuppiestrainingacademy.com{{ page.url }}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ page_description }}">
<meta name="twitter:image" content="https://res.cloudinary.com/ftpta-com/image/upload/v1660581474/logos/FTPTA_LOGO_t8axqn.jpg">