<div class="profiles">
    {% for profile in profiles %}
    <section class="profile">
        <figure class="about_img">
            <img src={{ profile.url }} loading="lazy" alt="Image of Kim, owner and lead trainer" height="376px"
                width="300px" />
            <figcaption>{{ profile.caption }}</figcaption>
            {% if profile.credit %}
            <sub>Self Taken Image</sub>
            {% else %}
            <sub>Image by <a href="https://www.facebook.com/profile.php?id=1832176344">On Location</a></sub>
            {% endif %}
        </figure>
        <article class="profile_text">
            <p>{{ profile.article }}</p>
        </article>
    </section>
    {% endfor %}
</div>





<!-- <section>
    <article>
        <div class="img-display">
            {% for data in about %}
            <figure>
                <img src={{ data.url }} alt={{ data.alt }} loading="lazy" />
                <figcaption>{{ data.figcaption }}</figcaption>
            </figure>
            {% endfor %}
        </div>
    </article>
</section> -->