<section>
    <h3>Compliance Policy</h3>

    <p>All For The Puppies Training Academy LLC clients are expected to comply with the following policy.</p>
    <ol>
        <li>Attend our scheduled appointments in a timely manner and fully prepared to participate.</li>
        <li>All recommendations must be followed as intended. Written notes will be provided as supplemental</li>
        material to facilitate learning and document recommendations for future reference.
        <li>Clients are to follow the instructions that are given by the trainer. Any deviation of the training
            techniques discussed can and will change the expected results of the training. If you resort to methods which
            are not condoned
            by the trainer, your lessons may be forfeited based on the trainer’s judgment.</li>
        <li>The use of any training tools that have not been explicitly recommended by your trainer will lead to the
            immediate termination of the program.</li>
    </ol>
</section>