<section>
    <h3>No Show Policy</h3>
    <p>Your appointment is very important to us. However, we understand there are unexpected situations that may conflict
        with
        our schedule time.</p>

    <p>Any cancellation or reschedule made less than 48 hours before our appointment time will be considered a no-show and
        will
        result in your forfeiting the meeting.</p>

    <p>In the event of a true, unavoidable emergency, we will do our best to reschedule your service for another time that
        is
        convenient to you.</p>
</section>