---
title: "FTPTA BLOG"
---
<h2 class="text-center">Coming Soon</h2>
{# {%- for blog in collections.blog -%}
<article class="grid sm:grid-cols-2 items-center bg-stone-600 py-0 mb-4 rounded-md">
    <img src="{{ blog.data.post_thumbnail }}" alt="{{ blog.data.image_caption }}" class="shadow-lg shadow-slate-600">
    <div class="grid grid-rows-2 justify-items-center items-center px-2">
      <div>
        <a href='{{ blog.data.post_title | slug }}'>{{ blog.data.post_title }}</a>
      </div>
      <div>
        <p>{{ blog.data.post_description }}</p>
      </div>
    </div>
</article>
{%- endfor -%} #}
