html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111111;
}

h1 {
  font-size: 32pt;
}

h2 {
  font-size: 30pt;
}

h3 {
  font-size: 28pt;
}

h4 {
  font-size: 26pt;
}

h5 {
  font-size: 24pt;
}

h6 {
  font-size: 22pt;
}

p {
  color: #222222;
  font-size: 24pt;
}

ul > li {
  color: #333333;
  font-size: 22pt;
}

body {
  margin: 0 2rem;
}

header > figure.logo > a > img {
  margin: 0 auto;
  width: 20%;
}

.logo {
  filter: invert(100%) hue-rotate(180deg) brightness(120%) contrast(150%);
}

#potty {
  break-before: page;
}

section {
  margin-bottom: 6em;
}
