html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 2em;
  padding: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #eee;
  font-family: "Raleway", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center start;
}

.logo img {
  filter: contrast(80%);
}

.site_nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  place-items: center;
}

.site_nav a {
  text-decoration: none;
  font-size: 2em;
  color: #ccc;
  transition: text-decoration 0.5s ease-in-out;
}

.site_nav a:hover,
.site_nav a:focus,
.site_nav a:active {
  text-decoration: underline rgba(255, 255, 255, 0.9);
}

.index_img_block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  place-items: center;
}

.index_img_block > figure > img {
  max-width: 500px;
  height: auto;
}

.content_header {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  font-size: 2.75vw;
}

.content_main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: "Montserrat", sans-serif;
}

.pretzel > h2 {
  font-size: 4vw;
}

.about_img > img {
  box-shadow: -6px -6px 9px rgba(250, 250, 250, 0.1),
    12px 12px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.about_img:hover {
  box-shadow: -6px -6px 9px rgba(250, 250, 250, 0.1),
    12px 12px 3px -6px rgba(0, 0, 0, 0.1);
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3em;
}

.card {
  display: grid;
  border-radius: 0.25em;
  padding: 0.5em;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5),
    -6px -6px 9px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  place-items: center;
}

.card:hover {
  box-shadow: 6px 6px 6px -3px rgba(0, 0, 0, 0.5),
    -6px -6px 9px -3px rgba(255, 255, 255, 0.1);
}

.card > a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.card > a:hover {
  color: #fff;
}

.card-content {
  text-align: center;
}

footer {
  display: grid;
}

@media only screen and (min-device-width: 360px) and (max-device-height: 740px) and (orientation: portrait) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
  }

  .site_nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .index_img_block {
    place-items: unset;
  }

  .index_img_block > figure > img {
    max-width: 250px;
    height: auto;
  }

  .pretzel {
    margin: 0 2.5em;
  }

  .content_main {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    font-family: "Montserrat", sans-serif;
  }

  .content_main > article {
    margin: 2em;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
  }

  .site_nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .index_img_block {
    place-items: unset;
  }

  .index_img_block > figure > img {
    max-width: 250px;
    height: auto;
  }

  .pretzel {
    margin: 0 2.5em;
  }

  .content_main {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    font-family: "Montserrat", sans-serif;
  }

  .content_main > article {
    margin: 2em;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
  }

  .site_nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .index_img_block {
    place-items: unset;
  }

  .index_img_block > figure > img {
    max-width: 250px;
    height: auto;
  }

  .pretzel {
    margin: 0 2.5em;
  }

  .content_main {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    font-family: "Montserrat", sans-serif;
  }

  .content_main > article {
    margin: 2em;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
  }

  .site_nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .index_img_block {
    place-items: unset;
  }

  .index_img_block > figure > img {
    max-width: 250px;
    height: auto;
  }

  .pretzel {
    margin: 0 2.5em;
  }

  .content_main {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    font-family: "Montserrat", sans-serif;
  }

  .content_main > article {
    margin: 2em;
  }
}

/* @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) {
} */
