html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 2em;
  padding: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #eee;
  font-family: "Raleway", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-content: center;
}

.logo img {
  filter: contrast(80%);
}

.site_nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2vw;
  place-items: center;
}

.site_nav a {
  text-decoration: none;
  font-size: 2em;
  color: #ccc;
  border-bottom: 0;
  transition: all 0.3s ease-out;
}

.site_nav a:hover,
.site_nav a:focus,
.site_nav a:active {
  margin-top: 2px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
}

.index_img_block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  place-items: center;
}

.index_img_block > figure > img {
  max-width: 500px;
  height: auto;
}

.content_header {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  font-size: 1.5em;
}

.content_main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: "Montserrat", sans-serif;
}

p {
  display: block;
  font-size: 20px;
  line-height: 1.5em;
}

.pretzel > h2 {
  font-size: 1.5em;
}

.about_img > img {
  border-radius: 10px;
  box-shadow: -3px -3px 2px rgba(250, 250, 250, 0.1),
    2px 2px 1px rgba(0, 0, 0, 0.1);
}

.img-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.img-display > figure > img {
  border-radius: 10px;
  box-shadow: -2px -2px 5px rgba(250, 250, 250, 0.1),
    2px 2px 3px rgba(0, 0, 0, 0.1);
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3em;
}

figure > sub > a,
figcaption > a,
main > p > a {
  color: #ccc;
}

.card {
  display: grid;
  border-radius: 0.25em;
  padding: 0.5em;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5),
    -6px -6px 9px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  place-items: center;
}

.card:hover {
  box-shadow: 6px 6px 6px -3px rgba(0, 0, 0, 0.5),
    -6px -6px 9px -3px rgba(255, 255, 255, 0.1);
}

.card-header > a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.card-header > a:hover {
  color: #fff;
  text-decoration: underline;
}

.card-content {
  text-align: center;
}

.long_text {
  display: grid;
}

.long_text > p {
  text-indent: 3em;
  text-align: justify;
}

.long_text > img {
  margin: 0 auto;
}

.portfolio-page {
  display: grid;
  grid-auto-flow: row;
  row-gap: 3em;
}

.portfolio {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.portfolio-header > a {
  color: #eee;
}

.images-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: end center;
}

address > ul > li {
  list-style-type: none;
}

address > ul > li > a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

address > ul > li > a:hover {
  color: #fff;
  text-decoration: underline;
}

footer h5 a {
  color: rgba(240, 240, 0, 0.9);
}

.insure {
  justify-self: end;
}

.akc_logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  margin: 4rem 0;
}

@media only screen and (min-device-width: 360px) and (max-device-height: 740px) and (orientation: portrait) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
  }

  .site_nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .index_img_block {
    place-items: unset;
  }

  .index_img_block > figure > img {
    max-width: 250px;
    height: auto;
  }

  .pretzel {
    margin: 0 2.5em;
  }

  .content_main {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }

  .content_main > article {
    margin: 2em;
    max-width: 200px;
  }

  .about_img {
    justify-self: start;
    max-width: 200px;
  }

  .about_img > img {
    max-width: 200px;
    height: auto;
  }

  .about_img > figcaption {
    font-size: small;
  }

  .about_img > sub {
    font-size: x-small;
  }

  .img-display {
    grid-template-columns: 1fr;
    place-content: center;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
  }

  .site_nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .index_img_block {
    place-items: unset;
  }

  .index_img_block > figure > img {
    max-width: 250px;
    height: auto;
  }

  .pretzel {
    margin: 0 2.5em;
  }

  .content_main {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    font-family: "Montserrat", sans-serif;
  }

  .content_main > article {
    margin: 2em;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
  }

  .site_nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .index_img_block {
    place-items: unset;
  }

  .index_img_block > figure > img {
    max-width: 250px;
    height: auto;
  }

  .pretzel {
    margin: 0 2.5em;
  }

  .content_main {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    font-family: "Montserrat", sans-serif;
  }

  .content_main > article {
    margin: 2em;
  }

  footer {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
  }

  .content_main {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }

  .content_main > article {
    margin: 2em;
    max-width: 200px;
  }

  .about_img {
    justify-self: start;
    max-width: 200px;
  }

  .about_img > img {
    max-width: 200px;
    height: auto;
  }

  .about_img > figcaption {
    font-size: small;
  }

  .about_img > sub {
    font-size: x-small;
  }

  .img-display {
    grid-template-columns: 1fr;
    place-content: center;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
  }

  .site_nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .index_img_block {
    place-items: unset;
  }

  .index_img_block > figure > img {
    max-width: 250px;
    height: auto;
  }

  .pretzel {
    margin: 0 2.5em;
  }

  .content_main {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    font-family: "Montserrat", sans-serif;
  }

  .content_main > article {
    margin: 2em;
  }

  footer {
    place-items: center;
  }

  .content_main {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }

  .content_main > article {
    margin: 2em;
    max-width: 200px;
  }

  .about_img {
    justify-self: start;
    max-width: 200px;
  }

  .about_img > img {
    max-width: 200px;
    height: auto;
  }

  .about_img > figcaption {
    font-size: small;
  }

  .about_img > sub {
    font-size: x-small;
  }

  .img-display {
    grid-template-columns: 1fr;
    place-content: center;
  }
}

@media only screen and (min-device-width: 1080px) and (max-device-height: 2380px) and (orientation: portrait) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
  }

  .site_nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
  }

  .index_img_block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .index_img_block > figure > img {
    max-width: 250px;
    height: auto;
  }

  .pretzel {
    margin: 0 2.5em;
  }

  .content_main {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    font-family: "Montserrat", sans-serif;
  }

  .content_main > article {
    margin: 2em;
  }

  footer {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .content_main {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }

  .content_main > article {
    margin: 2em;
    max-width: 200px;
  }

  .about_img {
    justify-self: start;
    max-width: 200px;
  }

  .about_img > img {
    max-width: 200px;
    height: auto;
  }

  .about_img > figcaption {
    font-size: small;
  }

  .about_img > sub {
    font-size: x-small;
  }

  .img-display {
    grid-template-columns: 1fr;
    place-content: center;
  }
}
