---
layout: "layout.njk"
title: About Us
page_title: About Us
page_description: "As a family, we have always had animals in our lives. From dogs, cats, a squirrel or two, a rabbit, to a team of
            ducks and their mother. So it goes without saying that we are animal lovers at heart."
---

<div class="grid grid-cols-1 gap-4">
    <div class="mx-auto prose">
        <p>
            As a family, we have always had animals in our lives. From dogs, cats, a squirrel or two, a rabbit, to a team of
            ducks and their mother. So it goes without saying that we are animal lovers at heart.
        </p>
        <p>
            We use Positive Reinforcement techniques while training your puppy and teach you those same techniques. For most
            people, those techniques require quit the shift in thinking, when it comes to your pets. If we had to summarize the
            Positive Reinforcement Mindset to someone in one phrase it would be, <i>"To better understand why your dog is doing
                something, stop looking at the world through your eyes and look at it through theirs for a moment."</i>. We
            want your puppy to have a choice, and do things at their own speed and time. We do not feel that forcing a dog to
            behave a certain way makes them better pets. Helping them understand that acting a certain way is more rewarding and
            fun, is our goal for you and your pets.
        </p>
    </div>
    {% include "components/trainer_profiles.html" %}
</div>