---
layout: "layout.njk"
title: About Us
page_title: About Us
---
<header class="content_header">
    <h2>{{ page_title }}</h2>
</header>
<div class="content_main">
    <figure class="about_img">
        <img src="https://res.cloudinary.com/ftpta-com/image/upload/v1583283480/kim/kim_afcs3j.jpg" loading="lazy" alt="Image of Kim, owner and lead trainer" height="376px" width="300px">
        <figcaption>Kim Jackson, Owner and Lead Trainer</figcaption>
        <sub>Image by <a href="https://www.facebook.com/profile.php?id=1832176344">OnLocation</a>, Corinth MS</sub>
    </figure>
    <article>
        <p>A lifetime passion, turned into a dream come true. I've always trained my personal dogs but never for anyone else, until the Rayco puppies.
        A liter of five puppies, turned into volunteering for Lead Me Home Rescue and training all the dogs I fostered. After serveral months and many dogs
        I decided to turn it into a business.</p>
        <p>Located in Corinth, MS. Where there are very few trainers avaliable. As of May 4th of 2020, I am currently the only AKC evaluator in the area.</p>
        <div class="img-display">
            {% for data in about %}
            <figure>
                <img src={{ data.url }} alt={{ data.alt }}  loading="lazy">
                <figcaption>{{ data.figcaption }}</figcaption>
            </figure>
            {% endfor %}
        </div>
    </article>
</div>