---
layout: "layout.njk"
title: About Us
page_title: About Us
---
<main>
    <header class="content_header">
        <h2>{{ page_title }}</h2>
    </header>
    <div class="content_main">
        <figure class="about_img">
            <img src="/imgs/kim.jpg" loading="lazy" alt="Image of Kim, owner and lead trainer" height="auto" width="300px">
            <figcaption>Kim Jackson, Owner and Lead Trainer</figcaption>
        </figure>
        <article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa velit ipsum recusandae! Delectus voluptatem, consequuntur voluptates doloremque veritatis inventore, hic asperiores nam quam aspernatur laboriosam minima, ipsam vero nobis omnis?</p>
        </article>
    </div>
</main>