---
layout: "layout.njk"
title: FTPTA
page_title: For the Puppies Training Academy
---

<div class="index_img_block">
    <figure>
        <img src="https://res.cloudinary.com/ftpta-com/image/upload/f_auto,q_70,w_800/v1583283982/pretzel/DSC_2166_srbtng.jpg" width="800px" loading="lazy" alt="Pretzel, the face of FTPTA"/>
        <figcaption>Image by <a href="https://www.facebook.com/profile.php?id=1832176344">OnLocation</a></figcaption>
    </figure>
    <div class="pretzel">
        <h2>Home of Pretzel - CGC</h2>
        <p>Rescue to Therapy Canine</p>
        <h2>Kimberly Jackson</h2>
        <p>AKC Evaluator</p>    </div>
</div>
<div class="index_img_block">
    <figure>
        <img src="https://res.cloudinary.com/ftpta-com/image/upload/v1595473903/Oreo/DSC_1542_i2vz9o.jpg" width="800px" loading="lazy" alt="Pretzel, the face of FTPTA"/>
        <figcaption>Image by <a href="https://www.facebook.com/profile.php?id=1832176344">OnLocation</a></figcaption>
    </figure>
    <div class="pretzel">
        <h2>Home of Double Stuffed Oreo</h2>
        <p>Rescue to Therapy Canine</p>
        <h2>Kimberly Jackson</h2>
        <p>AKC Evaluator</p>    </div>
</div>
