---
layout: "layout.njk"
title: Portfolio
page_title: Kimberly's Portfolio
tag: "portfolio"
---

<div class="portfolio-page">
{% for dog in dogs %}
    {% if dog.portfolio == "true" %}
    <section class="portfolio">        
        <div class="portfolio-header">
            <h2>{{ dog.name }}</h2>
            <sub>{{ dog.breed }}</sub>
        </div>
        <article class="portfolio-content">
            <p>{{ dog.dialog }}</p>
            <div class="images-wrapper">
                {% for image in dog.images %}
                <figure>
                    <img src="{{ image.url }}" alt="{{ image.alt }}" loading="lazy" />
                </figure>
                {% endfor %}
            </div>
        </article>        
    </section>
    {% endif %}
{% endfor %}
</div>