---
layout: "layout.njk"
title: Portfolio
page_title: Kimberly's Portfolio
tag: "portfolio"
---

<div class="mx-auto px-4 prose prose-sm sm:prose lg:prose-lg xl:prose-xl">
{% for dog in dogs %}
    {% if dog.portfolio == "true" %}
    <section class="">        
        <div class="mb-2">
            <h3 class="2xl">{{ dog.name }}</h3>
            <sub>{{ dog.breed }}</sub>
        </div>
        <article class="portfolio-content">
            <p>{{ dog.dialog }}</p>
            <div class="flex flex-wrap justify-center my-4 gap-4">
                {% for image in dog.images %}
                <figure>
                    <img src="{{ image.url }}" alt="{{ image.alt }}" loading="lazy" />
                </figure>
                {% endfor %}
            </div>
        </article>        
    </section>
    {% endif %}
{% endfor %}
</div>