---
layout: "layout.njk"
title: Services
page_title: Services Provide by FTPTA
tag: "services"
---

<div class="services">
{% for service in services %}
    <section class="card"">        
        <div class="card-header">
        {% if service.url %}
            <a href="{{ service.url }}"><h3>{{ service.header }}</h3></a>
        {% else %}
            <h3>{{ service.header }}</h3>
        {% endif %}
        </div>
        <article class="card-content">
            <p>{{ service.details }}</p>
            <h4>{{ service.price }}</h4>
        </article>        
    </section>
{% endfor %}
</div>
