---
layout: "layout.njk"
title: Services
page_title: Services Provide by FTPTA
---
<main>
    <header class="content_header">
        <h2>{{ page_title }}</h2>
    </header>
    <div class="services">
        <section class="card">
            <div class="card-header">
                <h3>Backgrounding</h3>
            </div>
            <article class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod incidunt dolore sint, natus ex earum fuga nam! Doloribus adipisci facilis, unde nostrum dolorum deserunt ratione sequi tenetur non quibusdam modi!</p>
                <h4>$200 a week</h4>
            </article>
        </section>
        <section class="card">
            <div class="card-header">
                <h3>Obedience Training</h3>
            </div>
            <article class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod incidunt dolore sint, natus ex earum fuga nam! Doloribus adipisci facilis, unde nostrum dolorum deserunt ratione sequi tenetur non quibusdam modi!</p>
                <h4>$85 hr</h4>
            </article>
        </section>
        <section class="card">
            <div class="card-header">
                <h3>AKC Star Puppy</h3>
            </div>
            <article class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod incidunt dolore sint, natus ex earum fuga nam! Doloribus adipisci facilis, unde nostrum dolorum deserunt ratione sequi tenetur non quibusdam modi!</p>
                <h4>$75 hr</h4>
            </article>
        </section>
        <section class="card">
            <div class="card-header">
                <h3>AKC Canine Good Citizen (CGC)</h3>
            </div>
            <article class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod incidunt dolore sint, natus ex earum fuga nam! Doloribus adipisci facilis, unde nostrum dolorum deserunt ratione sequi tenetur non quibusdam modi!</p>
                <h4>$75 hr</h4>
            </article>
        </section>
    </div>
</main>