---
layout: "layout.njk"
title: Coming Soon
page_title: Coming Soon
---
<header class="content_header">
    <h2>{{ page_title }}</h2>
</header>
<div class="content_main">
    <figure class="about_img">
        <img src="/imgs/shy-puppy.jpg" loading="lazy" alt="It's a shy puppy" height="376px" width="300px">
    </figure>
    <article>
        <p>This page is coming soon...</p>
    </article>
</div>