---
layout: "layout.njk"
title: Thanks
page_title: Special Thanks
tag: "providers"
---

<div class="mx-auto px-4 prose prose-sm sm:prose lg:prose-lg xl:prose-xl">
{% for provider in providers %}
    
    <section class="portfolio">        
        <div class="portfolio-header">
        {% if provider.url != "" %}
            <a href="{{ provider.url }}"><h2>{{ provider.name }}</h2></a>
        {% else %}
            <h2>{{ provider.name }}</h2>
        {% endif %}
        </div>
        <article class="portfolio-content">
            <p>{{ provider.description }}</p>
                <div class="images-wrapper">
                    {% for image in provider.images %}
                    <figure>
                        <img src="{{ image.url }}" alt="{{ image.alt }}" loading="lazy" />
                    </figure>
                    {% endfor %}
                </div>
        </article>        
    </section>
{% endfor %}
</div>